openapi: 3.0.0
info:
  title: Fireblocks API
  description: >
    Fireblocks provides a robust REST API for developers to leverage Fireblocks' capabilities programmatically. 
    Our REST API is the base layer for all Fireblocks SDKs.

    >
      Each endpoint is described with the required user role for interacting with it. 
    For more information about the different user roles, please read the [Manage Users](https://developers.fireblocks.com/docs/manage-users) guide.

    - Visit our website for more information: [Fireblocks
    Website](https://fireblocks.com)

    - Visit our developer docs: [Fireblocks Developer
    Portal](https://developers.fireblocks.com)

    - Get a free Sandbox Workspace: [Sandbox
    Signup](https://www.fireblocks.com/developer-sandbox-sign-up/)
  version: 1.8.0
  contact:
    email: developers@fireblocks.com
servers:
  - url: https://api.fireblocks.io/v1
    description: Fireblocks Production Environment Base URL
  - url: https://sandbox-api.fireblocks.io/v1
    description: Fireblocks Sandbox Environment Base URL
security:
  - ApiKeyAuth: []
    bearerTokenAuth: []
tags:
  - name: Vault Accounts
    description: >
      Vault Accounts Management APIs.

      Learn more about Fireblocks Vault Accounts in the following
      [guide](https://developers.fireblocks.com/reference/create-vault-account)
  - name: Vault Wallets
    description: >
      Vault Wallets Management APIs.

      Learn more about Fireblocks Vault Wallets in the following
      [guide](https://developers.fireblocks.com/reference/create-vault-wallet)
  - name: Balances
    description: Vault Wallets' Balances APIs
  - name: Transactions Management
    description: >
      Transactions Management APIs.

      Learn more about Fireblocks Transactions management in the following
      [guide](https://developers.fireblocks.com/reference/create-transactions)
  - name: Fee Management
    description: >
      Transaction Fee Management APIs.

      Learn more about Fireblocks Fee Management in the following
      [guide](https://developers.fireblocks.com/reference/estimate-transaction-fee)
  - name: Gas Station
    description: >
      Fireblocks Gas Station Management APIs.

      Learn more about the Fireblocks Gas Station in the following
      [guide](https://developers.fireblocks.com/docs/work-with-gas-station)
  - name: External Wallets
    description: >
      Whitelisted External Wallets APIs:

      External Wallets are entities that hold addresses external to your
      Fireblocks workspace and are not under your ownership. 

      Whitelisted addresses under External Wallets will not display the current
      on-chain balance of these addresses.

      Learn more about Whitelisted External Wallet Addresses
      [here](https://developers.fireblocks.com/docs/whitelist-addresses#external-wallets).
  - name: Internal Wallets
    description: >
      Whitelisted Internal Wallets APIs:

      Internal Wallets are entities that hold addresses external to your
      Fireblocks workspace but are under your ownership. 

      Whitelisted addresses under Internal Wallets will also display the current
      on-chain balance of these addresses.

      Learn more about Whitelisted Internal Addresses
      [here](https://developers.fireblocks.com/docs/whitelist-addresses#internal-wallets)/
  - name: Contracts
    description: >
      Whitelisted Contracts APIs:

      Whitelisted Contracts contain the addresses of the smart contracts you
      intend to interact with.

      Learn more about Whitelisted Smart Contracts
      [here](https://developers.fireblocks.com/docs/whitelist-addresses#contracts).
  - name: Users Management
    description: >
      Users Management APIs.

      Learn more about Fireblocks Users management in the following
      [guide](https://developers.fireblocks.com/docs/manage-users)
  - name: API Keys Management
    description: >
      API Keys Management APIs.

      Learn more about Fireblocks API Keys management in the following
      [guide](https://developers.fireblocks.com/docs/manage-api-keys)
  - name: Workspace Settings
    description: Workspace Settings APIs
  - name: Transaction Authorization Policy (Beta)
    description: >
      Transaction Authorization Policy Management APIs.

      Learn more about Fireblocks Transaction Authorization Policy in the
      following
      [guide](https://developers.fireblocks.com/docs/set-transaction-authorization-policy)
  - name: Travel Rule
    description: >
      Travel Rule Policies APIs.

      Learn more about Fireblocks Travel Rule management in the following
      [guide](https://developers.fireblocks.com/docs/define-travel-rule-policies)
  - name: AML Policy
    description: >
      Anti Money Laundering Policies APIs.

      Learn more about Fireblocks AML management in the following
      [guide](https://developers.fireblocks.com/docs/define-aml-policies)
  - name: Audit Log
    description: Audit Logs APIs
  - name: Network Connections
    description: >
      Fireblocks Network Connections APIs.

      Learn more about Fireblocks Network in the following
      [guide](https://developers.fireblocks.com/docs/connect-to-the-fireblocks-network)
  - name: Network IDs
    description: Fireblocks Network IDs APIs
  - name: Smart Transfers
    description: >
      Smart Transfers APIs.

      Learn more about Fireblocks Smart Transfers in the following
      [guide](https://developers.fireblocks.com/docs/execute-smart-transfers)
  - name: Tokens
    description: Tokenization APIs
  - name: Contract Templates
    description: Smart Contract Templates APIs
  - name: Contract Interactions
    description: Contract Interactions Management APIs
  - name: Deployed Contracts
    description: Deployed Contracts Management APIs
  - name: NFTs
    description: >
      NFTs Management APIs.

      Learn more about Fireblocks NFT management in the following
      [guide](https://developers.fireblocks.com/reference/deploy-an-nft-collection)
  - name: Supported Assets
    description: >
      Supported Assets APIs.

      Learn more about Supporting Additional Assets in Fireblocks in the
      following
      [guide](https://developers.fireblocks.com/docs/add-your-tokens-1)
  - name: Payouts
    description: >
      Payouts Management APIs.

      Learn more about Fireblocks Payments - Payouts in the following
      [guide](https://developers.fireblocks.com/docs/create-payouts)
  - name: Flows
    description: >
      Flows Management APIs.

      Learn more about Fireblocks Payments - Flows in the following
      [guide](https://developers.fireblocks.com/docs/payment-flows-copy)
  - name: Exchange Accounts
    description: >
      Exchange Accounts Management APIs.

      Learn more about Fireblocks Exchange Connectivity in the following
      [guide](https://developers.fireblocks.com/docs/connect-to-exchanges-and-fiat-providers)
  - name: FIAT Accounts
    description: >
      FIAT Accounts Management APIs.

      Learn more about Fireblocks FIAT Connectivity in the following
      [guide](https://developers.fireblocks.com/docs/connect-to-exchanges-and-fiat-providers)
  - name: Off Exchange
    description: >
      Off Exchange Management APIs.

      Learn more about Fireblocks Off Exchange in the following
      [guide](https://developers.fireblocks.com/docs/off-exchange)
  - name: Staking
    description: >
      Fireblocks Staking APIs.

      Learn more about Staking in Fireblocks in the following
      [guide](https://developers.fireblocks.com/docs/stake-assets)
  - name: Dapp Connections
    description: >
      Dapp Connections Management APIs.

      Learn more about Fireblocks Wallet Link in the following
      [guide](https://developers.fireblocks.com/docs/web3-wallet-link)
  - name: Webhooks
    description: >
      Webhooks Management APIs.

      Learn more about Fireblocks Webhooks in the following
      [guide](https://developers.fireblocks.com/docs/configure-webhooks)
  - name: Cosigners (Beta)
    description: Cosigners Management APIs
  - name: Key Link (Beta)
    description: Key Link Management APIs
  - name: Tokenization
    description: Tokenization collections.
paths:
  /vault/accounts:
    get:
      x-internal: true
      deprecated: true
      summary: Get vault accounts
      description: >-
        DEPRECATED - Please use `/vault/accounts_paged` endpoint instead.

        >
          Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.
      tags:
        - Vault Accounts
      parameters:
        - in: query
          name: namePrefix
          required: false
          schema:
            type: string
        - in: query
          name: nameSuffix
          required: false
          schema:
            type: string
        - in: query
          name: minAmountThreshold
          required: false
          schema:
            type: number
        - in: query
          name: assetId
          required: false
          schema:
            type: string
            x-fb-entity: asset
      responses:
        '200':
          description: A list of vault accounts
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVaultAccountsResponse'
        default:
          $ref: '#/components/responses/Error'
      operationId: getVaultAccounts
    post:
      summary: Create a new vault account
      operationId: createVaultAccount
      description: >-
        Creates a new vault account with the requested name.

        >
          Learn more in the following
          [guide](https://developers.fireblocks.com/reference/create-vault-account).

        >
          Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.
      tags:
        - Vault Accounts
      x-readme:
        code-samples:
          - language: python
            code: >-
              vaultAccount = fireblocks.create_vault_account(name, hiddenOnUI,
              customer_ref_id, auto_fueling)
            name: Fireblocks SDK Python example
          - language: javascript
            code: >-
              const vaultAccount = await fireblocks.createVaultAccount(name,
              hiddenOnUI, customerRefId, autoFueling);
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response: Promise<FireblocksResponse<VaultAccount>> =
              fireblocks.vaultAccounts.createVaultAccount(vaultAccountsApiCreateVaultAccountRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<VaultAccount>> response =
              fireblocks.vaultAccounts().createVaultAccount(createVaultAccountRequest,
              idempotencyKey);
            name: Fireblocks SDK Java example
      parameters:
        - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVaultAccountRequest'
      responses:
        '200':
          description: A Vault Account object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultAccount'
        default:
          $ref: '#/components/responses/Error'
      x-codeSamples:
        - lang: Python
          label: Python
          source: >-
            vaultAccount = fireblocks.create_vault_account(name, hiddenOnUI,
            customer_ref_id, auto_fueling)
        - lang: javascript
          label: Javascript
          source: >-
            const vaultAccount = await fireblocks.createVaultAccount(name,
            hiddenOnUI, customerRefId, autoFueling);
  /vault/accounts_paged:
    get:
      summary: Get vault accounts
      description: >-
        Gets all vault accounts in your workspace. This endpoint returns a
        limited amount of results with a quick response time.

        >
          Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.
      tags:
        - Vault Accounts
      x-readme:
        code-samples:
          - language: python
            code: >-
              vault_accounts =
              fireblocks.get_vault_accounts_with_page_info(filters)
            name: Fireblocks SDK Python example
          - language: javascript
            code: >-
              const vaultAccounts = await
              fireblocks.getVaultAccountsWithPageInfo(filters);
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response:
              Promise<FireblocksResponse<VaultAccountsPagedResponse>> =
              fireblocks.vaultAccounts.getPagedVaultAccounts(vaultAccountsApiGetPagedVaultAccountsRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<VaultAccountsPagedResponse>>
              response =
              fireblocks.vaultAccounts().getPagedVaultAccounts(namePrefix,
              nameSuffix, minAmountThreshold, assetId, orderBy, before, after,
              limit);
            name: Fireblocks SDK Java example
      parameters:
        - in: query
          name: namePrefix
          required: false
          schema:
            type: string
            example: MyVaultPrefix
        - in: query
          name: nameSuffix
          required: false
          schema:
            type: string
            example: MyVaultSuffix
        - in: query
          name: minAmountThreshold
          required: false
          description: >-
            Specifying minAmountThreshold will filter accounts with balances
            greater than this value, otherwise, it will return all accounts.
            The amount set in this parameter is the native asset amount and not its USD value.
          schema:
            type: number
            example: 10
        - in: query
          name: assetId
          required: false
          schema:
            type: string
            x-fb-entity: asset
            example: ETH
        - in: query
          name: orderBy
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
            default: DESC
        - in: query
          name: before
          required: false
          schema:
            type: string
            example: c3RhcnRpbmdWYXVsdElkeD04NTgzNzA2Mw==
        - in: query
          name: after
          required: false
          schema:
            type: string
            example: c3RhcnRpbmdWYXVsdElkeD01NTM1NzUzNg==
        - in: query
          name: limit
          required: false
          schema:
            type: number
            minimum: 1
            maximum: 500
            default: 200
      responses:
        '200':
          description: A VaultAccountsPagedResponse object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultAccountsPagedResponse'
      operationId: getPagedVaultAccounts
      x-codeSamples:
        - lang: python
          label: Python
          source: >-
            vault_accounts =
            fireblocks.get_vault_accounts_with_page_info(filters)
        - lang: javascript
          label: Javascript
          source: >-
            const vaultAccounts = await
            fireblocks.getVaultAccountsWithPageInfo(filters);
  /vault/accounts/{vaultAccountId}:
    get:
      summary: Get a vault account by ID
      description: >-
        Gets a vault account by its unique ID.

        >
          Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor,
          Viewer.
      tags:
        - Vault Accounts
      x-readme:
        code-samples:
          - language: python
            code: vault_account = fireblocks.get_vault_account(vault_account_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: >-
              const vaultAccount = await
              fireblocks.getVaultAccount(vault_account_id);
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response: Promise<FireblocksResponse<VaultAccount>> =
              fireblocks.vaultAccounts.getVaultAccount(vaultAccountsApiGetVaultAccountRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<VaultAccount>> response =
              fireblocks.vaultAccounts().getVaultAccount(vaultAccountId);
            name: Fireblocks SDK Java example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: The ID of the vault account
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
            example: '0'
      responses:
        '200':
          description: A Vault Account object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultAccount'
        default:
          $ref: '#/components/responses/Error'
      operationId: getVaultAccount
      x-codeSamples:
        - lang: python
          label: Python
          source: vault_account = fireblocks.get_vault_account(vault_account_id)
        - lang: javascript
          label: Javascript
          source: >-
            const vaultAccount = await
            fireblocks.getVaultAccount(vault_account_id);
    put:
      summary: Rename a vault account
      description: |-
        Renames the requested vault account.

        >
          Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver.
      tags:
        - Vault Accounts
      x-readme:
        code-samples:
          - language: python
            code: >-
              vaultAccount = fireblocks.update_vault_account(vault_account_id,
              name)
            name: Fireblocks SDK Python example
          - language: javascript
            code: >-
              const vaultAccount = await
              fireblocks.updateVaultAccount(vautlAccountId, name);
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response:
              Promise<FireblocksResponse<RenameVaultAccountResponse>> =
              fireblocks.vaultAccounts.updateVaultAccount(vaultAccountsApiUpdateVaultAccountRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<RenameVaultAccountResponse>>
              response =
              fireblocks.vaultAccounts().updateVaultAccount(updateVaultAccountRequest,
              vaultAccountId, idempotencyKey);
            name: Fireblocks SDK Java example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: The ID of the vault account
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
            example: '0'
        - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVaultAccountRequest'
      responses:
        '201':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenameVaultAccountResponse'
        default:
          $ref: '#/components/responses/Error'
      operationId: updateVaultAccount
      x-codeSamples:
        - lang: python
          label: Python
          source: >-
            vaultAccount = fireblocks.update_vault_account(vault_account_id,
            name)
        - lang: javascript
          label: Javascript
          source: >-
            const vaultAccount = await
            fireblocks.updateVaultAccount(vautlAccountId, name);
  /vault/asset_wallets:
    get:
      summary: Get vault wallets (Paginated)
      description: >-
        Retrieves all vault wallets of the vault accounts in your workspace. A
        vault wallet is an asset in a vault account.

        This method allows fast traversal of all account balances.

        >
          Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor,
          Viewer.
      tags:
        - Vault Wallets
      x-readme:
        code-samples:
          - language: python
            code: vault_accounts = fireblocks.get_asset_wallets(filters)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const vaultAccounts = await fireblocks.getAssetWallets(filters);
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response:
              Promise<FireblocksResponse<PaginatedAssetWalletResponse>> =
              fireblocks.vaultWallets.getAssetWallets(vaultWalletsApiGetAssetWalletsRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<PaginatedAssetWalletResponse>>
              response =
              fireblocks.vaultWallets().getAssetWallets(totalAmountLargerThan,
              assetId, orderBy, before, after, limit);
            name: Fireblocks SDK Java example
      parameters:
        - in: query
          name: totalAmountLargerThan
          description: >-
            When specified, only vault wallets with total balance greater than
            this amount are returned.
          required: false
          schema:
            type: number
            example: 14
        - in: query
          name: assetId
          required: false
          description: >-
            When specified, only vault wallets with the specified ID are
            returned.
          schema:
            type: string
            x-fb-entity: asset
            example: ETH
        - in: query
          name: orderBy
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
            default: DESC
        - in: query
          name: before
          required: false
          description: >
            Fetches the next paginated response before this element. 

            This element is a cursor and is returned at the response of the
            previous page.
          schema:
            type: string
            example: c3RhcnRpbmdWYXVsdElkeD04NTgzNzA2Mw
        - in: query
          name: after
          required: false
          description: >-
            Fetches the next paginated response after this element. This element
            is a cursor and is returned at the response of the previous page.
          schema:
            type: string
            example: c3RhcnRpbmdWYXVsdElkeD01NTM1NzUzNg
        - in: query
          name: limit
          required: false
          description: |
            The maximum number of vault wallets in a single response. 

            The default is 200 and the maximum is 1000.
          schema:
            type: number
            minimum: 1
            maximum: 1000
            default: 200
      responses:
        '200':
          description: A PaginatedAssetWalletResponse object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAssetWalletResponse'
      operationId: getAssetWallets
      x-codeSamples:
        - lang: python
          label: Python
          source: vault_accounts = fireblocks.get_asset_wallets(filters)
        - lang: javascript
          label: Javascript
          source: const vaultAccounts = await fireblocks.getAssetWallets(filters);
  /vault/accounts/{vaultAccountId}/hide:
    post:
      summary: Hide a vault account in the console
      description: >-
        Hides the requested vault account from the web console view. This
        operation is required when creating thousands of vault accounts to serve
        your end-users. Used for preventing the web console to be swamped with
        too much vault accounts.

        >
          NOTE: Hiding the vault account from the web console will also hide all
          the related transactions to/from this vault.

        >
          Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.

        >
          Learn more in the following
          [guide](https://developers.fireblocks.com/docs/create-direct-custody-wallets#hiding-vault-accounts)
      tags:
        - Vault Accounts
      x-readme:
        code-samples:
          - language: python
            code: vaultAsset = fireblocks.hide_vault_account(vault_account_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: >-
              const vaultAsset = await
              fireblocks.hideVaultAccount(vaultAccountId);
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response: Promise<FireblocksResponse<VaultActionStatus>> =
              fireblocks.vaultAccounts.hideVaultAccount(vaultAccountsApiHideVaultAccountRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<VaultActionStatus>> response =
              fireblocks.vaultAccounts().hideVaultAccount(vaultAccountId,
              idempotencyKey);
            name: Fireblocks SDK Java example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: The vault account to hide
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
            example: '0'
        - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '201':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultActionStatus'
        default:
          $ref: '#/components/responses/Error'
      operationId: hideVaultAccount
      x-codeSamples:
        - lang: python
          label: Python
          source: vaultAsset = fireblocks.hide_vault_account(vault_account_id)
        - lang: javascript
          label: Javascript
          source: >-
            const vaultAsset = await
            fireblocks.hideVaultAccount(vaultAccountId);
  /vault/accounts/{vaultAccountId}/unhide:
    post:
      summary: Unhide a vault account in the console
      description: |-
        Makes a hidden vault account visible in web console view.

        >
          Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.
      tags:
        - Vault Accounts
      x-readme:
        code-samples:
          - language: python
            code: vaultAsset = fireblocks.unhide_vault_account(vault_account_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: >-
              const vaultAsset = await
              fireblocks.unhideVaultAccount(vaultAccountId);
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response: Promise<FireblocksResponse<VaultActionStatus>> =
              fireblocks.vaultAccounts.unhideVaultAccount(vaultAccountsApiUnhideVaultAccountRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<VaultActionStatus>> response =
              fireblocks.vaultAccounts().unhideVaultAccount(vaultAccountId,
              idempotencyKey);
            name: Fireblocks SDK Java example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: The vault account to unhide
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
            example: '0'
        - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '201':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultActionStatus'
        default:
          $ref: '#/components/responses/Error'
      operationId: unhideVaultAccount
      x-codeSamples:
        - lang: python
          label: Python
          source: vaultAsset = fireblocks.unhide_vault_account(vault_account_id)
        - lang: javascript
          label: Javascript
          source: >-
            const vaultAsset = await
            fireblocks.unhideVaultAccount(vaultAccountId);
  /vault/accounts/{vaultAccountId}/{assetId}/activate:
    post:
      summary: Activate a wallet in a vault account
      description: >-
        Initiates activation for a wallet in a vault account. Activation is
        required for tokens that need an on-chain transaction for creation (XLM
        tokens, SOL tokens etc).

        >
          Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.
      x-readme:
        code-samples:
          - language: python
            code: >-
              vaultAsset = fireblocks.activate_vault_asset(vault_account_id,
              asset_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: >-
              const vaultAsset = await
              fireblocks.activateVaultAsset(vautlAccountId, assetId);
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response:
              Promise<FireblocksResponse<CreateVaultAssetResponse>> =
              fireblocks.vaultWallets.activateAssetForVaultAccount(vaultWalletsApiActivateAssetForVaultAccountRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<CreateVaultAssetResponse>> response
              =
              fireblocks.vaultWallets().activateAssetForVaultAccount(vaultAccountId,
              assetId, idempotencyKey);
            name: Fireblocks SDK Java example
      tags:
        - Vault Wallets
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: The ID of the vault account
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
            example: '0'
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
            example: SOL_USDC_PTHX
        - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '200':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateVaultAssetResponse'
        default:
          $ref: '#/components/responses/Error'
      operationId: activateAssetForVaultAccount
      x-codeSamples:
        - lang: python
          label: Python
          source: >-
            vaultAsset = fireblocks.activate_vault_asset(vault_account_id,
            asset_id)
        - lang: javascript
          label: Javascript
          source: >-
            const vaultAsset = await
            fireblocks.activateVaultAsset(vautlAccountId, assetId);
  /vault/accounts/{vaultAccountId}/set_customer_ref_id:
    post:
      summary: Set an AML/KYT customer reference ID for a vault account
      description: |-
        Assigns an AML/KYT customer reference ID for the vault account.

        >
          Endpoint Permission: Admin, Non-Signing Admin.
      tags:
        - AML Policy
      x-readme:
        code-samples:
          - language: python
            code: >-
              vaultAsset =
              fireblocks.set_vault_account_customer_ref_id(vault_account_id,
              customer_ref_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: >
              const vaultAsset = await
              fireblocks.setCustomerRefIdForVaultAccount(
                vaultAccountId,
                customerRefId
              );
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response: Promise<FireblocksResponse<VaultActionStatus>> =
              fireblocks.aMLPolicy.setVaultAccountCustomerRefId(aMLPolicyApiSetVaultAccountCustomerRefIdRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<VaultActionStatus>> response =
              fireblocks.aMLPolicy().setVaultAccountCustomerRefId(setCustomerRefIdRequest,
              vaultAccountId, idempotencyKey);
            name: Fireblocks SDK Java example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: The vault account ID
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
            example: '0'
        - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetCustomerRefIdRequest'
      responses:
        '201':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultActionStatus'
        default:
          $ref: '#/components/responses/Error'
      operationId: setVaultAccountCustomerRefId
      x-codeSamples:
        - lang: python
          label: Python
          source: >-
            vaultAsset =
            fireblocks.set_vault_account_customer_ref_id(vault_account_id,
            customer_ref_id)
        - lang: javascript
          label: Javascript
          source: |
            const vaultAsset = await fireblocks.setCustomerRefIdForVaultAccount(
              vaultAccountId,
              customerRefId
            );
  /vault/accounts/{vaultAccountId}/set_auto_fuel:
    post:
      summary: Set auto fueling to on or off
      description: >-
        Toggles the auto fueling property of the vault account to enabled or
        disabled. Vault Accounts with 'autoFuel=true' are monitored and auto
        fueled by the Fireblocks Gas Station.

        >
          Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.
      x-readme:
        code-samples:
          - language: python
            code: result = fireblocks.set_auto_fuel(vault_account_id, auto_fuel)
            name: Fireblocks SDK Python example
          - language: javascript
            code: >-
              const result = await fireblocks.setAutoFuel(vaultAccountId,
              autoFuel;
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response: Promise<FireblocksResponse<VaultActionStatus>> =
              fireblocks.gasStation.setVaultAccountAutoFuel(gasStationApiSetVaultAccountAutoFuelRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<VaultActionStatus>> response =
              fireblocks.gasStation().setVaultAccountAutoFuel(setAutoFuelRequest,
              vaultAccountId, idempotencyKey);
            name: Fireblocks SDK Java example
      tags:
        - Gas Station
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: The vault account ID
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
            example: '0'
        - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetAutoFuelRequest'
      responses:
        '201':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultActionStatus'
        default:
          $ref: '#/components/responses/Error'
      operationId: setVaultAccountAutoFuel
      x-codeSamples:
        - lang: python
          label: Python
          source: result = fireblocks.set_auto_fuel(vault_account_id, auto_fuel)
        - lang: javascript
          label: Javascript
          source: >-
            const result = await fireblocks.setAutoFuel(vaultAccountId,
            autoFuel;
  /vault/accounts/{vaultAccountId}/{assetId}:
    get:
      summary: Get the asset balance for a vault account
      description: >-
        Returns a specific vault wallet balance information for a specific
        asset.

        >
          Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor,
          Viewer.
      tags:
        - Balances
      x-readme:
        code-samples:
          - language: python
            code: |
              vaultAsset = fireblocks.get_vault_account_asset(
              vault_account_id,
              asset_id
              )
            name: Fireblocks SDK Python example
          - language: javascript
            code: >
              const vaultAsset = await
              fireblocks.getVaultAccountAsset(vaultAccountId, assetId);
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response: Promise<FireblocksResponse<VaultAsset>> =
              fireblocks.balances.getVaultAccountAsset(balancesApiGetVaultAccountAssetRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<VaultAsset>> response =
              fireblocks.balances().getVaultAccountAsset(vaultAccountId,
              assetId);
            name: Fireblocks SDK Java example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: The ID of the vault account
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
            example: '0'
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
            example: BTC
      responses:
        '200':
          description: A VaultAsset object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultAsset'
        default:
          $ref: '#/components/responses/Error'
      operationId: getVaultAccountAsset
      x-codeSamples:
        - lang: python
          label: Python
          source: |
            vaultAsset = fireblocks.get_vault_account_asset(
            vault_account_id,
            asset_id
            )
        - lang: javascript
          label: Javascript
          source: >
            const vaultAsset = await
            fireblocks.getVaultAccountAsset(vaultAccountId, assetId);
    post:
      summary: Create a new vault wallet
      description: >-
        Creates a wallet for a specific asset in a vault account.

        >
          Learn more in the following
          [guide](https://developers.fireblocks.com/reference/create-vault-wallet)

        >
          Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.
      tags:
        - Vault Wallets
      x-readme:
        code-samples:
          - language: python
            code: >-
              vaultAsset = fireblocks.create_vault_asset(vault_account_id,
              asset_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: >-
              const vaultAsset = await
              fireblocks.createVaultAsset(vaultAccountId, assetId);
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response:
              Promise<FireblocksResponse<CreateVaultAssetResponse>> =
              fireblocks.vaultWallets.createVaultAccountAsset(vaultWalletsApiCreateVaultAccountAssetRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<CreateVaultAssetResponse>> response
              =
              fireblocks.vaultWallets().createVaultAccountAsset(vaultAccountId,
              assetId, createAssetsRequest, idempotencyKey);
            name: Fireblocks SDK Java example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: >-
            The ID of the vault account to return, or 'default' for the default
            vault account
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
            example: '0'
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
            example: BTC
        - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssetsRequest'
      responses:
        '200':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateVaultAssetResponse'
        default:
          $ref: '#/components/responses/Error'
      operationId: createVaultAccountAsset
      x-codeSamples:
        - lang: python
          label: Python
          source: >-
            vaultAsset = fireblocks.create_vault_asset(vault_account_id,
            asset_id)
        - lang: javascript
          label: Javascript
          source: >-
            const vaultAsset = await fireblocks.createVaultAsset(vaultAccountId,
            assetId);
  /vault/accounts/{vaultAccountId}/{assetId}/balance:
    post:
      summary: Refresh asset balance data
      description: >-
        Updates the balance of a specific asset in a vault account.

        >
          This API endpoint is subject to a strict rate limit. Should be used by
          clients in very specific scenarios.

        >
          Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.
      tags:
        - Balances
      x-readme:
        code-samples:
          - language: python
            code: |
              vaultAsset = fireblocks.refresh_vault_asset_balance(
                vault_account_id,
                asset_id
              )
            name: Fireblocks SDK Python example
          - language: javascript
            code: |
              const vaultAsset = await fireblocks.refreshVaultAssetBalance(
                vaultAccountId, 
                assetId
              );
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response: Promise<FireblocksResponse<VaultAsset>> =
              fireblocks.balances.updateVaultAccountAssetBalance(balancesApiUpdateVaultAccountAssetBalanceRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<VaultAsset>> response =
              fireblocks.balances().updateVaultAccountAssetBalance(vaultAccountId,
              assetId, idempotencyKey);
            name: Fireblocks SDK Java example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: The ID of the vault account to return
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
            example: '0'
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
            example: BTC
        - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '200':
          description: A VaultAsset object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultAsset'
        default:
          $ref: '#/components/responses/Error'
      operationId: updateVaultAccountAssetBalance
      x-codeSamples:
        - lang: python
          label: Python
          source: |
            vaultAsset = fireblocks.refresh_vault_asset_balance(
              vault_account_id,
              asset_id
            )
        - lang: javascript
          label: Javascript
          source: |
            const vaultAsset = await fireblocks.refreshVaultAssetBalance(
              vaultAccountId, 
              assetId
            );
  /vault/accounts/{vaultAccountId}/{assetId}/addresses:
    get:
      deprecated: true
      summary: Get asset addresses
      description: >-
        DEPRECATED!

        - If your application logic or scripts rely on the deprecated endpoint,
        you should update to account for
        `GET/V1/vault/accounts/{vaultAccountId}/{assetId}/addresses_paginated`
        before Mar 31,2024.

        >
          Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor,
          Viewer.
      tags:
        - Vault Wallets
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: The ID of the vault account to return
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
      responses:
        '200':
          description: A list of deposit addresses
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVaultAccountAssetAddressesResponse'
        default:
          $ref: '#/components/responses/Error'
      operationId: getVaultAccountAssetAddresses
      x-readme:
        code-samples:
          - language: typescript
            code: >-
              const response:
              Promise<FireblocksResponse<GetVaultAccountAssetAddressesResponse>>
              =
              fireblocks.vaultWallets.getVaultAccountAssetAddresses(vaultWalletsApiGetVaultAccountAssetAddressesRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<List<VaultWalletAddress>>> response
              =
              fireblocks.vaultWallets().getVaultAccountAssetAddresses(vaultAccountId,
              assetId);
            name: Fireblocks SDK Java example
    post:
      summary: Create new asset deposit address
      description: >-
        Creates a new deposit address for an asset of a vault account. Should be
        used for UTXO or Tag/Memo based assets ONLY.

        >
          **Note:** Requests with account based assets will fail.

        >
          Endpoint Permission: Admin, Non-Signing Admin.
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: >-
              address = fireblocks.generate_new_address(vault_account_id,
              asset_id, description, customer_ref_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: >-
              const address = await
              fireblocks.generateNewAddress(vaultAccountId, assetId,
              description, customerRefId);
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response: Promise<FireblocksResponse<CreateAddressResponse>>
              =
              fireblocks.vaults.createVaultAccountAssetAddress(vaultsApiCreateVaultAccountAssetAddressRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<CreateAddressResponse>> response =
              fireblocks.vaults().createVaultAccountAssetAddress(vaultAccountId,
              assetId, createAddressRequest, idempotencyKey);
            name: Fireblocks SDK Java example
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAddressRequest'
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: The ID of the vault account to return
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
            example: '0'
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
            example: BTC
        - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '200':
          description: The created address
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAddressResponse'
        default:
          $ref: '#/components/responses/Error'
      operationId: createVaultAccountAssetAddress
      x-codeSamples:
        - lang: python
          label: Python
          source: >-
            address = fireblocks.generate_new_address(vault_account_id,
            asset_id, description, customer_ref_id)
        - lang: javascript
          label: Javascript
          source: >-
            const address = await fireblocks.generateNewAddress(vaultAccountId,
            assetId, description, customerRefId);
  /vault/accounts/{vaultAccountId}/{assetId}/addresses_paginated:
    get:
      summary: Get addresses (Paginated)
      description: >-
        Returns a paginated response of the addresses for a given vault account
        and asset.

        >
          Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor,
          Viewer.
      tags:
        - Vault Wallets
      x-readme:
        code-samples:
          - language: python
            code: >-
              addresses = vault_accounts =
              fireblocks.get_paginated_addresses("0","BTC")
            name: Fireblocks SDK Python example
          - language: javascript
            code: >-
              const addresses = await
              fireblocks.getPaginatedAddresses("0","BTC");
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response:
              Promise<FireblocksResponse<PaginatedAddressResponse>> =
              fireblocks.vaultWallets.getVaultAccountAssetAddressesPaginated(vaultWalletsApiGetVaultAccountAssetAddressesPaginatedRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<PaginatedAddressResponse>> response
              =
              fireblocks.vaultWallets().getVaultAccountAssetAddressesPaginated(vaultAccountId,
              assetId, limit, before, after);
            name: Fireblocks SDK Java example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: The ID of the vault account to return
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
            example: '0'
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
            example: BTC
        - in: query
          name: limit
          description: Limit the number of results per page
          schema:
            type: number
            example: 50
        - in: query
          name: before
          description: Cursor string for the previous page
          schema:
            type: string
            example: >-
              eyJhZGRyZXNzSWQiOiIzNjg4MzE5MiIsInZhdWx0QWNjb3VudElkIjoiMCIsImFzc2V0SWQiOiJCVEMifQ==
        - in: query
          name: after
          description: Cursor string for the next page
          schema:
            type: string
            example: >-
              eyJhZGRyZXNzSWQiOiIzNDU3MDM4MSIsInZhdWx0QWNjb3VudElkIjoiMCIsImFzc2V0SWQiOiJCVEMifQ==
      responses:
        '200':
          description: A paginated list of addresses, and pagination info.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAddressResponse'
        default:
          $ref: '#/components/responses/Error'
      operationId: getVaultAccountAssetAddressesPaginated
      x-codeSamples:
        - lang: python
          label: Python
          source: >-
            addresses = vault_accounts =
            fireblocks.get_paginated_addresses("0","BTC")
        - lang: javascript
          label: Javascript
          source: const addresses = await fireblocks.getPaginatedAddresses("0","BTC");
  /vault/accounts/{vaultAccountId}/{assetId}/max_spendable_amount:
    get:
      summary: Get the maximum spendable amount in a single transaction.
      description: >-
        Get the maximum amount of a particular asset that can be spent in a
        single transaction from a specified vault account (UTXO assets only).

        >
          Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor,
          Viewer.
      tags:
        - Transactions Management
      x-readme:
        code-samples:
          - language: python
            code: |
              max_spendable_amount = fireblocks.get_max_spendable_amount(
                "0",
                "BTC" 
              )
            name: Fireblocks SDK Python example
          - language: javascript
            code: >-
              const maxSpendableAmount = await
              fireblocks.getMaxSpendableAmount("0", "BTC")
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response:
              Promise<FireblocksResponse<GetMaxSpendableAmountResponse>> =
              fireblocks.transactionsManagement.getMaxSpendableAmount(transactionsManagementApiGetMaxSpendableAmountRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<GetMaxSpendableAmountResponse>>
              response =
              fireblocks.transactionsManagement().getMaxSpendableAmount(vaultAccountId,
              assetId, manualSignging);
            name: Fireblocks SDK Java example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: >-
            The ID of the vault account, or 'default' for the default vault
            account
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
            example: '0'
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
            example: BTC
        - in: query
          name: manualSignging
          description: >-
            False by default. The maximum number of inputs depends if the
            transaction will be signed by an automated co-signer server or on a
            mobile device.
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMaxSpendableAmountResponse'
        default:
          $ref: '#/components/responses/Error'
      operationId: getMaxSpendableAmount
      x-codeSamples:
        - lang: python
          label: Python
          source: |
            max_spendable_amount = fireblocks.get_max_spendable_amount(
              "0",
              "BTC" 
            )
        - lang: javascript
          label: Javascript
          source: >-
            const maxSpendableAmount = await
            fireblocks.getMaxSpendableAmount("0", "BTC")
  /vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}:
    put:
      summary: Update address description
      description: >-
        Updates the description of an existing address of an asset in a vault
        account.

        >
          Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.
      tags:
        - Vault Wallets
      x-readme:
        code-samples:
          - language: python
            code: |
              address = fireblocks.set_address_description(
              vault_account_id,
              asset_id, 
              address, 
              tag, 
              description
              )
            name: Fireblocks SDK Python example
          - language: javascript
            code: |
              const address = await fireblocks.setAddressDescription(
              vaultAccountId,
              assetId, 
              address, 
              tag, 
              description
              );
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response: Promise<FireblocksResponse<VaultActionStatus>> =
              fireblocks.vaultWallets.updateVaultAccountAssetAddress(vaultWalletsApiUpdateVaultAccountAssetAddressRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<VaultActionStatus>> response =
              fireblocks.vaultWallets().updateVaultAccountAssetAddress(vaultAccountId,
              assetId, addressId, updateVaultAccountAssetAddressRequest,
              idempotencyKey);
            name: Fireblocks SDK Java example
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVaultAccountAssetAddressRequest'
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: The ID of the vault account
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
            example: '0'
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
            example: BTC
        - in: path
          name: addressId
          required: true
          description: >-
            The address for which to add a description. For XRP, use
            <address>:<tag>, for all other assets, use only the address
          schema:
            type: string
            example: 1Fn5bZ9V9bkt8F1wVZTouG2xVfAT9ZX4Lv
        - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '201':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultActionStatus'
        default:
          $ref: '#/components/responses/Error'
      operationId: updateVaultAccountAssetAddress
      x-codeSamples:
        - lang: python
          label: Python
          source: |
            address = fireblocks.set_address_description(
            vault_account_id,
            asset_id, 
            address, 
            tag, 
            description
            )
        - lang: javascript
          label: Javascript
          source: |
            const address = await fireblocks.setAddressDescription(
            vaultAccountId,
            assetId, 
            address, 
            tag, 
            description
            );
  /vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}/set_customer_ref_id:
    post:
      summary: Assign AML customer reference ID
      description: |-
        Sets an AML/KYT customer reference ID for a specific address.

        >
          Endpoint Permission: Admin, Non-Signing Admin.
      tags:
        - AML Policy
      x-readme:
        code-samples:
          - language: python
            code: >-
              vaultAsset =
              fireblocks.set_customer_ref_id_for_address(vault_account_id,
              asset_id, address_id, customer_ref_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: >-
              const vaultAsset = await
              fireblocks.setCustomerRefIdForAddress(vaultAccountId, assetId,
              addressId, customerRefId);
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response: Promise<FireblocksResponse<VaultActionStatus>> =
              fireblocks.aMLPolicy.setCustomerRefIdForAddress(aMLPolicyApiSetCustomerRefIdForAddressRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<VaultActionStatus>> response =
              fireblocks.aMLPolicy().setCustomerRefIdForAddress(setCustomerRefIdForAddressRequest,
              vaultAccountId, assetId, addressId, idempotencyKey);
            name: Fireblocks SDK Java example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: The ID of the vault account
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
            example: '0'
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
            example: BTC
        - in: path
          name: addressId
          required: true
          description: >-
            The address for which to add a description. For XRP, use
            <address>:<tag>, for all other assets, use only the address
          schema:
            type: string
            example: ltc1qt7d7pcaycq9r0n35d9k2tuff5sf8qdsl84aex6
        - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetCustomerRefIdForAddressRequest'
      responses:
        '201':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultActionStatus'
        default:
          $ref: '#/components/responses/Error'
      operationId: setCustomerRefIdForAddress
      x-codeSamples:
        - lang: python
          label: Python
          source: >-
            vaultAsset =
            fireblocks.set_customer_ref_id_for_address(vault_account_id,
            asset_id, address_id, customer_ref_id)
        - lang: javascript
          label: Javascript
          source: >-
            const vaultAsset = await
            fireblocks.setCustomerRefIdForAddress(vaultAccountId, assetId,
            addressId, customerRefId);
  /vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}/create_legacy:
    post:
      x-internal: true
      summary: Convert a segwit address to legacy format
      description: |-
        Converts an existing segwit address to the legacy format.

        >
          Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.
      tags:
        - Vault Wallets
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: The ID of the vault account
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
            example: '0'
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
            example: BTC
        - in: path
          name: addressId
          required: true
          description: The segwit address to translate
          schema:
            type: string
        - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '200':
          description: The created address
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAddressResponse'
        default:
          $ref: '#/components/responses/Error'
      operationId: createLegacyAddress
  /vault/accounts/{vaultAccountId}/{assetId}/unspent_inputs:
    get:
      summary: Get UTXO unspent inputs information
      description: >-
        Returns unspent inputs information of an UTXO asset in a vault account.

        >
          Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor,
          Viewer.
      tags:
        - Balances
      x-readme:
        code-samples:
          - language: python
            code: >-
              vaultAsset = fireblocks.get_unspent_inputs(vault_account_id,
              asset_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: >
              const vaultAsset = await
              fireblocks.getUnspentInputs(vaultAccountId, assetId);
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response:
              Promise<FireblocksResponse<GetUnspentInputsResponse>> =
              fireblocks.balances.getUnspentInputs(balancesApiGetUnspentInputsRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<List<UnspentInputsResponse>>>
              response = fireblocks.balances().getUnspentInputs(vaultAccountId,
              assetId);
            name: Fireblocks SDK Java example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: The ID of the vault account
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
            example: '0'
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
            example: BTC
      responses:
        '200':
          description: List of Unspent information per input
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUnspentInputsResponse'
        default:
          $ref: '#/components/responses/Error'
      operationId: getUnspentInputs
      x-codeSamples:
        - lang: python
          label: Python
          source: >-
            vaultAsset = fireblocks.get_unspent_inputs(vault_account_id,
            asset_id)
        - lang: javascript
          label: Javascript
          source: >
            const vaultAsset = await fireblocks.getUnspentInputs(vaultAccountId,
            assetId);
  /vault/public_key_info:
    get:
      summary: Get the public key for a derivation path
      description: >-
        Gets the public key information based on derivation path and signing
        algorithm.

        >
          Endpoint Permission: Admin, Non-Signing Admin.
      tags:
        - Vault Wallets
      x-readme:
        code-samples:
          - language: python
            code: >-
              pubKey = fireblocks.get_public_key_info(algorithm,
              derivation_path, compressed)
            name: Fireblocks SDK Python example
          - language: javascript
            code: >
              const PublicKeyInfoArgs = {
                algorithm: 'MPC_ECDSA_SECP256K1',
                derivationPath: [44,0,0,0,0]
              }

              const pubKey = await
              fireblocks.getPublicKeyInfo(PublicKeyInfoArgs);
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response: Promise<FireblocksResponse<PublicKeyInformation>>
              =
              fireblocks.vaultWallets.getPublicKeyInfo(vaultWalletsApiGetPublicKeyInfoRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<PublicKeyInformation>> response =
              fireblocks.vaultWallets().getPublicKeyInfo(derivationPath,
              algorithm, compressed);
            name: Fireblocks SDK Java example
      parameters:
        - in: query
          name: derivationPath
          description: >
            An array of integers representing the full BIP44 derivation path of
            the requested public key. 

            The first element must always be 44.
          required: true
          example:
            - 44
            - 60
            - 0
            - 0
            - 0
          schema:
            type: array
            maxItems: 5
            minItems: 5
            items:
              type: integer
        - in: query
          name: algorithm
          description: The algorithm for the public key
          required: true
          schema:
            type: string
            enum:
              - MPC_ECDSA_SECP256K1
              - MPC_ECDSA_SECP256R1
              - MPC_EDDSA_ED25519
        - in: query
          name: compressed
          description: >-
            A flag to specify if the returned public key should be in
            Compressed/Uncompressed format
          schema:
            type: boolean
      responses:
        '200':
          description: Public key information
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicKeyInformation'
        default:
          $ref: '#/components/responses/Error'
      operationId: getPublicKeyInfo
      x-codeSamples:
        - lang: python
          label: Python
          source: >-
            pubKey = fireblocks.get_public_key_info(algorithm, derivation_path,
            compressed)
        - lang: javascript
          label: Javascript
          source: |
            const PublicKeyInfoArgs = {
              algorithm: 'MPC_ECDSA_SECP256K1',
              derivationPath: [44,0,0,0,0]
            }
            const pubKey = await fireblocks.getPublicKeyInfo(PublicKeyInfoArgs);
  /vault/accounts/{vaultAccountId}/{assetId}/{change}/{addressIndex}/public_key_info:
    get:
      summary: Get the public key of an asset in a vault account
      description: |-
        Gets the public key information for a specific asset in a vault account.

        >
          Endpoint Permission: Admin, Non-Signing Admin.
      tags:
        - Vault Wallets
      x-readme:
        code-samples:
          - language: python
            code: |
              pubKey = fireblocks.get_public_key_info_for_vault_account(
              asset_id,
              vault_account_id, 
              change, 
              address_index, 
              compressed
              )
            name: Fireblocks SDK Python example
          - language: javascript
            code: >
              const PublicKeyInfoArgs = { 
                assetId: 'ETH', 
                vaultAccountId: 0, 
                change: 0, 
                addressIndex: 0, 
                compressed: true 
              } 


              const pubKey = await
              fireblocks.getPublicKeyInfoForVaultAccount(PublicKeyInfoArgs);
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response: Promise<FireblocksResponse<PublicKeyInformation>>
              =
              fireblocks.vaultWallets.getPublicKeyInfoForAddress(vaultWalletsApiGetPublicKeyInfoForAddressRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<PublicKeyInformation>> response =
              fireblocks.vaultWallets().getPublicKeyInfoForAddress(vaultAccountId,
              assetId, change, addressIndex, compressed);
            name: Fireblocks SDK Java example
      parameters:
        - in: path
          name: vaultAccountId
          description: Vault Account unique identifier
          required: true
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
            example: '0'
        - in: path
          name: assetId
          description: Asset unique identifier
          required: true
          schema:
            type: string
            x-fb-entity: asset
            example: BTC
        - in: path
          name: change
          description: BIP44 derivation path - change value
          required: true
          schema:
            type: number
            example: 0
        - in: path
          name: addressIndex
          description: BIP44 derivation path - index value
          required: true
          schema:
            type: number
            example: 0
        - in: query
          name: compressed
          description: Compressed/Uncompressed public key format
          schema:
            type: boolean
      responses:
        '200':
          description: Public Key Information
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicKeyInformation'
        default:
          $ref: '#/components/responses/Error'
      operationId: getPublicKeyInfoForAddress
      x-codeSamples:
        - lang: python
          label: Python
          source: |
            pubKey = fireblocks.get_public_key_info_for_vault_account(
            asset_id,
            vault_account_id, 
            change, 
            address_index, 
            compressed
            )
        - lang: javascript
          label: Javascript
          source: >
            const PublicKeyInfoArgs = { 
              assetId: 'ETH', 
              vaultAccountId: 0, 
              change: 0, 
              addressIndex: 0, 
              compressed: true 
            } 


            const pubKey = await
            fireblocks.getPublicKeyInfoForVaultAccount(PublicKeyInfoArgs);
  /vault/assets:
    get:
      summary: Get asset balance for chosen assets
      description: >-
        Gets the assets amount summary for all accounts or filtered accounts.

        >
          Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor,
          Viewer.
      tags:
        - Balances
      x-readme:
        code-samples:
          - language: python
            code: >-
              assets_balance =
              fireblocks.get_vault_assets_balance(accout_name_prefix,
              account_name_suffix)
            name: Fireblocks SDK Python example
          - language: javascript
            code: >-
              const assetsBalance = await
              fireblocks.getVaultAssetsBalance(accountNamePrefix,
              accountNameSuffix);
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response:
              Promise<FireblocksResponse<GetVaultAssetsNumberResponse>> =
              fireblocks.balances.getVaultAssets(balancesApiGetVaultAssetsRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<List<VaultAssetNumber>>> response =
              fireblocks.balances().getVaultAssets(accountNamePrefix,
              accountNameSuffix);
            name: Fireblocks SDK Java example
      parameters:
        - in: query
          name: accountNamePrefix
          required: false
          schema:
            type: string
            example: MyVaultPrefix
        - in: query
          name: accountNameSuffix
          required: false
          schema:
            type: string
            example: MyVaultSuffix
      responses:
        '200':
          description: Amount by asset
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVaultAssetsNumberResponse'
        default:
          $ref: '#/components/responses/Error'
      operationId: getVaultAssets
      x-codeSamples:
        - lang: python
          label: Python
          source: >-
            assets_balance =
            fireblocks.get_vault_assets_balance(accout_name_prefix,
            account_name_suffix)
        - lang: javascript
          label: Javascript
          source: >-
            const assetsBalance = await
            fireblocks.getVaultAssetsBalance(accountNamePrefix,
            accountNameSuffix);
  /vault/assets/{assetId}:
    get:
      summary: Get vault balance by an asset
      description: >-
        Gets the total balance of an asset across all the vault accounts.

        >
          Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor,
          Viewer.
      tags:
        - Balances
      x-readme:
        code-samples:
          - language: python
            code: assets_balance = fireblocks.get_vault_balance_by_asset(asset_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: >-
              const assetsBalance = await
              fireblocks.getVaultBalanceByAsset(assetId);
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response: Promise<FireblocksResponse<VaultAssetNumber>> =
              fireblocks.balances.getVaultBalanceByAsset(balancesApiGetVaultBalanceByAssetRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<VaultAssetNumber>> response =
              fireblocks.balances().getVaultBalanceByAsset(assetId);
            name: Fireblocks SDK Java example
      parameters:
        - in: path
          name: assetId
          required: true
          schema:
            type: string
            x-fb-entity: asset
            example: ETH
      responses:
        '200':
          description: Vault amount by asset
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultAssetNumber'
        default:
          $ref: '#/components/responses/Error'
      operationId: getVaultBalanceByAsset
      x-codeSamples:
        - lang: python
          label: Python
          source: assets_balance = fireblocks.get_vault_balance_by_asset(asset_id)
        - lang: javascript
          label: Javascript
          source: >-
            const assetsBalance = await
            fireblocks.getVaultBalanceByAsset(assetId);
  /workspace/freeze:
    post:
      x-internal: true
      operationId: freezeWorkspace
      summary: Freeze
      x-readme:
        code-samples:
          - language: python
            code: vault_accounts = fireblocks.get_vault_accounts()
            name: Fireblocks SDK Python example
          - language: javascript
            code: const vaultAccounts = await fireblocks.getVaultAccounts();
            name: Fireblocks SDK Javascript example
      description: >-
        Freezes a Workspace so that ALL operations by ANY user are blocked.

        You should only perform this action when the workspace faces imminent
        risk, such as when you have a security breach.

        To unfreeze a workspace, the workspace Owner must submit a request to
        Fireblocks Support.

        **NOTE:**

        This operation can only be performed by the workspace Admins

        Your workspace continues to receive incoming transfers during this time.

        >
          Endpoint Permission: Admin, Non-Signing Admin.
      tags:
        - Workspace Settings
      parameters:
        - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '204':
          description: Indicates that the workspace is now frozen
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          $ref: '#/components/responses/Error'
      x-codeSamples:
        - lang: python
          label: Python
          source: vault_accounts = fireblocks.get_vault_accounts()
        - lang: javascript
          label: Javascript
          source: const vaultAccounts = await fireblocks.getVaultAccounts();
  /exchange_accounts:
    get:
      x-internal: true
      deprecated: true
      summary: List exchange accounts
      description: |-
        DEPRECATED - Please use the `/exchange_accounts/paged` endpoint.

        >
          Endpoint Permission: Admin, Non-Signing Admin.
      tags:
        - Exchange Accounts
      x-readme:
        code-samples:
          - language: python
            code: exchangeAccounts = fireblocks.get_exchange_accounts()
            name: Fireblocks SDK Python example
          - language: javascript
            code: const exchangeAccounts = await fireblocks.getExchangeAccounts();
            name: Fireblocks SDK Javascript example
      responses:
        '200':
          description: An ExchangeAccount object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExchangeAccountsResponse'
        default:
          $ref: '#/components/responses/Error'
      operationId: getExchangeAccounts
      x-codeSamples:
        - lang: python
          label: Python
          source: exchangeAccounts = fireblocks.get_exchange_accounts()
        - lang: javascript
          label: Javascript
          source: const exchangeAccounts = await fireblocks.getExchangeAccounts();
  /exchange_accounts/paged:
    get:
      operationId: getPagedExchangeAccounts
      summary: List connected exchange accounts
      description: |-
        Returns a list of the connected exchange accounts in your workspace.

        >
          Endpoint Permission: Admin, Non-Signing Admin.
      tags:
        - Exchange Accounts
      x-readme:
        code-samples:
          - language: javascript
            code: >-
              const exchangeAccounts = await
              fireblocks.getExchangeAccountsPaged();
            name: Fireblocks SDK Javascript example
          - language: python
            code: exchangeAccounts = fireblocks.get_exchange_accounts_paged()
            name: Fireblocks SDK Python example
          - language: typescript
            code: >-
              const response:
              Promise<FireblocksResponse<GetPagedExchangeAccountsResponse>> =
              fireblocks.exchangeAccounts.getPagedExchangeAccounts(exchangeAccountsApiGetPagedExchangeAccountsRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<List<ExchangeAccountsPaged>>>
              response =
              fireblocks.exchangeAccounts().getPagedExchangeAccounts(limit,
              before, after);
            name: Fireblocks SDK Java example
      parameters:
        - in: query
          name: before
          required: false
          schema:
            type: string
        - in: query
          name: after
          required: false
          schema:
            type: string
        - in: query
          name: limit
          description: number of exchanges per page
          required: true
          schema:
            type: number
            minimum: 1
            maximum: 5
            default: 3
      responses:
        '200':
          description: An ExchangeAccount object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPagedExchangeAccountsResponse'
        default:
          $ref: '#/components/responses/Error'
      x-codeSamples:
        - lang: javascript
          label: Javascript
          source: >-
            const exchangeAccounts = await
            fireblocks.getExchangeAccountsPaged();
        - lang: python
          label: Python
          source: exchangeAccounts = fireblocks.get_exchange_accounts_paged()
  /exchange_accounts/{exchangeAccountId}:
    get:
      summary: Get a specific exchange account
      description: |-
        Returns an exchange account by ID.

        >
          Endpoint Permission: Admin, Non-Signing Admin.
      tags:
        - Exchange Accounts
      x-readme:
        code-samples:
          - language: python
            code: >-
              exchangeAccount =
              fireblocks.get_exchange_account(exchangeAccountId)
            name: Fireblocks SDK Python example
          - language: javascript
            code: >-
              const exchnageAccount = await
              fireblocks.get_exchange_account(exchangeAccountId);
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response: Promise<FireblocksResponse<ExchangeAccount>> =
              fireblocks.exchangeAccounts.getExchangeAccount(exchangeAccountsApiGetExchangeAccountRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<ExchangeAccount>> response =
              fireblocks.exchangeAccounts().getExchangeAccount(exchangeAccountId);
            name: Fireblocks SDK Java example
      parameters:
        - in: path
          name: exchangeAccountId
          required: true
          description: The ID of the exchange account to return
          schema:
            type: string
      responses:
        '200':
          description: An ExchangeAccount object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeAccount'
        default:
          $ref: '#/components/responses/Error'
      operationId: getExchangeAccount
      x-codeSamples:
        - lang: python
          label: Python
          source: exchangeAccount = fireblocks.get_exchange_account(exchangeAccountId)
        - lang: javascript
          label: Javascript
          source: >-
            const exchnageAccount = await
            fireblocks.get_exchange_account(exchangeAccountId);
  /exchange_accounts/{exchangeAccountId}/internal_transfer:
    post:
      summary: Internal transfer for exchange accounts
      description: >-
        Transfers funds between trading accounts under the same exchange
        account.

        >
          Endpoint Permission: Admin, Non-Signing Admin.
      tags:
        - Exchange Accounts
      parameters:
        - in: path
          name: exchangeAccountId
          required: true
          description: The ID of the exchange account to return
          schema:
            type: string
        - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '201':
          description: Transfer succeeded
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalTransferResponse'
        default:
          $ref: '#/components/responses/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInternalTransferRequest'
      operationId: internalTransfer
      x-readme:
        code-samples:
          - language: typescript
            code: >-
              const response:
              Promise<FireblocksResponse<InternalTransferResponse>> =
              fireblocks.exchangeAccounts.internalTransfer(exchangeAccountsApiInternalTransferRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<InternalTransferResponse>> response
              =
              fireblocks.exchangeAccounts().internalTransfer(exchangeAccountId,
              createInternalTransferRequest, idempotencyKey);
            name: Fireblocks SDK Java example
  /exchange_accounts/{exchangeAccountId}/convert:
    post:
      summary: >-
        Convert exchange account funds from the source asset to the destination
        asset
      description: >-
        Converts exchange account funds from the source asset to the destination
        asset. Coinbase (USD to USDC, USDC to USD) and Bitso (MXN to USD) are
        supported conversions.

        >
          Endpoint Permission: Admin, Non-Signing Admin.
      tags:
        - Exchange Accounts
      parameters:
        - in: path
          name: exchangeAccountId
          required: true
          description: >-
            The ID of the exchange account. Please make sure the exchange
            supports conversions. To find the ID of your exchange account, use
            GET/exchange_accounts.
          schema:
            type: string
        - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '200':
          description: Conversion successful
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvertAssetsResponse'
        default:
          $ref: '#/components/responses/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertAssetsRequest'
      operationId: convertAssets
      x-readme:
        code-samples:
          - language: typescript
            code: >-
              const response: Promise<FireblocksResponse<ConvertAssetsResponse>>
              =
              fireblocks.exchangeAccounts.convertAssets(exchangeAccountsApiConvertAssetsRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<ConvertAssetsResponse>> response =
              fireblocks.exchangeAccounts().convertAssets(exchangeAccountId,
              convertAssetsRequest, idempotencyKey);
            name: Fireblocks SDK Java example
  /exchange_accounts/{exchangeAccountId}/{assetId}:
    get:
      summary: Get an asset for an exchange account
      description: |-
        Returns an asset for an exchange account.

        >
          Endpoint Permission: Admin, Non-Signing Admin.
      tags:
        - Exchange Accounts
      x-readme:
        code-samples:
          - language: python
            code: >-
              exchangeAsset =
              fireblocks.get_exchange_account_asset(exchangeAccountId, assetId)
            name: Fireblocks SDK Python example
          - language: javascript
            code: >-
              const exchangeAsset = await
              fireblocks.getExchangeAsset(exchangeAccountId, assetId);
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response: Promise<FireblocksResponse<ExchangeAsset>> =
              fireblocks.exchangeAccounts.getExchangeAccountAsset(exchangeAccountsApiGetExchangeAccountAssetRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<ExchangeAsset>> response =
              fireblocks.exchangeAccounts().getExchangeAccountAsset(exchangeAccountId,
              assetId);
            name: Fireblocks SDK Java example
      parameters:
        - in: path
          name: exchangeAccountId
          required: true
          description: The ID of the exchange account to return
          schema:
            type: string
        - in: path
          name: assetId
          required: true
          description: The ID of the asset to return
          schema:
            type: string
      responses:
        '200':
          description: An ExchangeAccountAsset object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeAsset'
        default:
          $ref: '#/components/responses/Error'
      operationId: getExchangeAccountAsset
      x-codeSamples:
        - lang: python
          label: Python
          source: >-
            exchangeAsset =
            fireblocks.get_exchange_account_asset(exchangeAccountId, assetId)
        - lang: javascript
          label: Javascript
          source: >-
            const exchangeAsset = await
            fireblocks.getExchangeAsset(exchangeAccountId, assetId);
  /fiat_accounts:
    get:
      summary: List fiat accounts
      description: |-
        Returns all fiat accounts.

        >
          Endpoint Permission: Admin, Non-Signing Admin.
      tags:
        - FIAT Accounts
      x-readme:
        code-samples:
          - language: python
            code: transactions = fireblocks.get_fiat_accounts()
            name: Fireblocks SDK Python example
          - language: javascript
            code: const transactions = await fireblocks.getFiatAccounts();
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response:
              Promise<FireblocksResponse<GetFiatAccountsResponse>> =
              fireblocks.fIATAccounts.getFiatAccounts();
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<List<FiatAccount>>> response =
              fireblocks.fIATAccounts().getFiatAccounts();
            name: Fireblocks SDK Java example
      responses:
        '200':
          description: A fiat account object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFiatAccountsResponse'
        default:
          $ref: '#/components/responses/Error'
      operationId: getFiatAccounts
      x-codeSamples:
        - lang: python
          label: Python
          source: transactions = fireblocks.get_fiat_accounts()
        - lang: javascript
          label: Javascript
          source: const transactions = await fireblocks.getFiatAccounts();
  /fiat_accounts/{accountId}:
    get:
      summary: Find a specific fiat account
      description: |-
        Returns a fiat account by ID.

        >
          Endpoint Permission: Admin, Non-Signing Admin.
      tags:
        - FIAT Accounts
      x-readme:
        code-samples:
          - language: python
            code: transactions = fireblocks.get_fiat_account_by_id(account_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: >-
              const transactions = await
              fireblocks.getFiatAccountById(accountId);
            name: Fireblocks SDK Javascript example
          - language: typescript
            code: >-
              const response: Promise<FireblocksResponse<FiatAccount>> =
              fireblocks.fIATAccounts.getFiatAccount(fIATAccountsApiGetFiatAccountRequest);
            name: Fireblocks SDK TypeScript example
          - language: java
            code: >-
              CompletableFuture<ApiResponse<FiatAccount>> response =
              fireblocks.fIATAccounts().getFiatAccount(accountId);
            name: Fireblocks SDK Java example
      parameters:
        - in: path
          name: accountId
          required: true
          description: The ID of the fiat account to return
          schema:
            type: string
      responses:
        '200':
          description: A fiat account object
          headers:
            X-Request-ID:
[...]
